#contact_modal {
    display: none;
}

.photograph__header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    padding-inline: 50px;
}

.photograph__header__infos {
    flex-basis: 1;
}

.header__infos__heading {
    margin-block-start: -65px;
    margin-block-end: 8px;
    color: var(--color-secondary);
    font-size: 3.3rem;
    font-weight: 400;
    flex: 1;
}

.header__infos__desc .city {
    color: var(--color-primary);
    font-size: 1.3rem;
    margin-block-end: 16px;
}

.photograph__header__portrait {
    justify-self: end;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.photograph__header__portrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* === MEDIAS SECTION === */

.medias__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-block-start: 70px;
}

.media__card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.media__card__wrapper {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    overflow: hidden;
}

.media__cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media__CardHeading {
    width: 100%;
    color: var(--color-primary);
    display: flex;
    justify-content: space-between;
}

.media__likes__wrapper .heart-icon-filled {
    margin-inline-start: 0.7rem;
}

/* === MODAL === */

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}